:root {
    --primary-color: white;
    --text-color: white;

}

.container-main {

    display: flex;
    text-align: center;
    justify-content: center;

    .header-main {
        width: 100%;
        height: 30px;
        top: 0;

    }

}